#question{
    padding: 5px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

#reponse{
    display: none;
    margin: 10px 0px 10px 10px;
    padding: 5px;
    border: solid;
    border-color: black;
    border-width: 1px;
}



.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: blue;
    padding-top: 60px;
    transition: left 0,5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    transform: 0,3s; 
}


.sidenav a:hover {
    color: green;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    left: 0;
}
 .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: black;
 }

 .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(128, 128, 128);
    margin: 6px 0;
 }

 